body,
h1,
ul {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #333;
}

.header_content {
    overflow: hidden;
    margin: 0 auto;
    width: 960px;
    color: #fff;
}

.header_logo {
    float: left;
    font-size: 30px;
    line-height: 80px;
}

.header_loginbar {
    overflow: hidden;
}

.header_content .loginbar_item {
    float: right;
    list-style: none;
    margin-right: 1em;
    font-size: 12px;
    line-height: 24px;
    vertical-align: middle;
}

.header_content .loginbar_item a{
    text-decoration: underline;
}

.banner {
    background-color: #6b3;
}

.banner_content {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 300px;
}

.banner_list {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.banner_item {
    display: inline-block;
    list-style: none;
    border: 1px solid #335e1a;
    width: 30px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: bottom;
    color: #9fca86;
    background-color: #b2dd99;
}

.banner_item.hover {
    padding-top: 15px;
    background-color: #e0f1d6;
}

.nav {
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 70px;
    background-color: #fff;
}

.nav_list {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -480px;
    margin-bottom: -1px;
    width: 960px;
}

.nav_item {
    float: left;
    list-style: none;
    margin-left: -1px;
    border: 1px solid #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 32px;
    line-height: 50px;
    background-color: #eee;
}

.nav_item a{
    color: #000;
}

.nav_item.hover {
    border-bottom-color: #fff;
    background-color: #fff;
}

.content {
    margin: 0 auto;
    width: 960px;
}

.content_row {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.content_unit {
    flex-grow: 1;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 80px 0;
}

.content_row .content_unit:first-child {
    margin-left: 0;
}

.footer {
    height: 120px;
    background-color: #666;
}

.footer .copyright {
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}