<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="layout.css">
    <!-- 根据设计稿实现布局 -->
    <title>layout</title>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="header_content">
                <h1 class="header_logo">Logo</h1>
                <ul class="header_loginbar">
                    <li class="loginbar_item">
                        <a href="javascript:void(0)">Login</a>
                    </li>
                    <li class="loginbar_item">
                        <a href="javascript:void(0)">Register</a>
                    </li>
                    <li class="loginbar_item">
                        <a href="javascript:void(0)">Github</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="banner">
            <div class="banner_content">
                <ul class="banner_list">
                    <a href="javascript:void(0)">
                        <li class="banner_item">1</li>
                    </a>
                    <a href="javascript:void(0)">
                        <li class="banner_item hover">2</li>
                    </a>
                    <a href="javascript:void(0)">
                        <li class="banner_item">3</li>
                    </a>
                    <a href="javascript:void(0)">
                        <li class="banner_item">4</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="nav">
            <ul class="nav_list">
                <li class="nav_item hover">
                    <a href="javascript:void(0)">HOME</a>
                </li>
                <li class="nav_item">
                    <a href="javascript:void(0)">PROFILE</a>
                </li>
                <li class="nav_item">
                    <a href="javascript:void(0)">ABOUT</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content_row">
                <div class="content_unit">This is Content 1</div>
                <div class="content_unit">MaybeContent 2</div>
                <div class="content_unit content_unit3">Content 3</div>
            </div>
            <div class="content_row">
                <div class="content_unit">Content 4</div>
                <div class="content_unit">Content 5</div>
                <div class="content_unit">Content 6</div>
                <div class="content_unit">Content 7</div>
            </div>
            <div class="content_row">
                <div class="content_unit">Content 8</div>
                <div class="content_unit">Content 9</div>
                <div class="content_unit">Content 10</div>
            </div>
        </div>
        <div class="footer">
            <p class="copyright">© 2018 ife.baidu.com</p>
        </div>
    </div>
</body>

</html>