*{
    margin: 0;
    padding: 0;
}

.spr{
    display: inline-block;
    background: url(images/spr.png) no-repeat;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.wrap{
    margin: 0 auto;
    width: 1600px;
}

.hd{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 990px;
    text-align: center;
    color: #fff;
    background: url(images/bg_hd.png) no-repeat;
}

.hd_bgshade{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.65);
}

.hd_title{
    margin-top: 210px;
    font-size: 62px;
    font-weight: normal;
    line-height: 72px;
}

.hd_text{
    margin-top: 80px;
    padding: 0 415px;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255,0.7);
}

.hd_lgn{
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 968px;
    height: 250px;
    font-size: 0;
}

.hd_lgn-title{
    margin-top: 50px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.2em;
    line-height: 28px;
}

.hd_lgn-subtitle{
    margin-top: 8px;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255,0.3);
}

.hd_lgn-text{
    margin-top: 42px;
    margin-right: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 290px;
    height: 48px;
    background-color: transparent;
}

.hd_lgn-text:focus{
    outline: none;
    border-color: #fff;
}

.hd_lgn-text::-webkit-input-placeholder{
    font-size: 14px;
    text-indent: 2em;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.3);
}

.hd_lgn-btn{
    border: none;
    width: 125px;
    height: 50px;
    background-color: #fff;
}

.ftr{
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 710px;
}

.ftr_title{
    margin-top: 82px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.ftr_subtitle{
    margin: 35px 400px 80px;
    font-size: 42px;
    font-weight: normal;
    line-height: 52px;
    text-align: center;
}

.ftr_cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 250px;
}

.ftr_sect{
    width: 440px;
    height: 160px;
}

.ftr_ico{
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
	width: 50px;
	height: 50px;
}

.ftr_ico-1{
    background-position: 0 -3px ;
}

.ftr_ico-2{
    background-position: -87px -5px ;
}

.ftr_ico-3{
    background-position: -169px -6px ;
}

.ftr_ico-4{
    background-position: -253px -8px ;
}

.ftr_sect-title{
    font-size: 20px;
    line-height: 20px;
}

.ftr_sect-text{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
}

.cta{
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 800px;
    color: #fff;
    background: url(images/bg_cta.png) no-repeat;
}

.cta_bgshade{
    overflow: hidden;
    padding-left: 315px;
    width: 1285px;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.65);
}

.cta_title{
    margin-top: 180px;
    width: 390px;
    font-size: 42px;
    font-weight: normal;
    line-height: 52px;
}

.cta_text{
    margin-top: 30px;
    width: 390px;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
}

.cta_btn{
    margin-top: 55px;
    margin-right: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 240px;
    height: 60px;
    font-size: 12px;
    color: #fff;
    background: none;
}

.cta_btn-hover:hover{
    color: #000;
    background-color: #fff;
}

.cta_ipad{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -300px;
}

.view{
    overflow: hidden;
    padding: 0 325px;
    height: 580px;
    text-align: center;
    background-color: #fff;
}

.view_title{
    margin-top: 95px;
    margin-bottom: 75px;
    font-size: 42px;
    line-height: 52px;
}

.view_sect{
    float: left;
    margin-right: 80px;
    width: 260px;
}

.view_sect-3{
    margin-right: 0;
}

.view_text{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
}

.std{
    padding: 0 315px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 1000px;
    background-color: #fff;
}

.std_sect{
    margin-top: 110px;
    height: 350px;
    width: 320px;
}

.std_img{
    margin-top: 110px;
}

.std_sect-title{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

.std_sect-text{
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.crew{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 315px;
    height: 1084px;
    text-align: center;
}

.crew_title{
    margin-top: 100px;
    font-size: 42px;
    font-weight: normal;
    line-height: 52px;
}

.crew_text{
    margin-top: 26px;
    padding: 0 135px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.crew_mem{
    display: flex;
    flex-wrap: wrap;
    height: 710px;
    justify-content: space-between;
    align-content: space-between;
}

.crew_img-1{
    position: relative;
}

.crew_hover{
    position: absolute;
    width: 470px;
    height: 340px;
    color: #fff;
    background-color: rgba(20, 20, 20, 0.65);
}

.crew_hover-title{
    margin-top: 100px;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

.crew_hover-text{
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.4);
}

.crew_hover-fb{
    background-position: -342px 0;
    margin-right: 20px;
	width: 51px;
	height: 54px;
}

.crew_hover-tt{
    background-position: -426px -5px ;
    margin-right: 22px;
	width: 51px;
	height: 54px;
}

.crew_hover-ig{
    background-position: -518px -5px ;
	width: 51px;
	height: 54px;
}

.contact{
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 315px;
    height: 700px;
}

.contact_form{
    float: left;
    margin-top: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 470px;
    height: 560px;
    text-align: center;
}

.contact_contn{
    float: right;
    margin-top: 100px;
    width: 360px;
    height: 560px;
}

.contact_form-title{
    margin-top: 30px;
    font-size: 16px;
    line-height: 32px;
}

.contact_form-email{
    margin-top: 30px;
    width: 370px;
    height: 50px;
    font-size: 14px;
    line-height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact_form-subject{
    margin-top: 30px;
    width: 370px;
    height: 50px;
    font-size: 14px;
    line-height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact_form-msg{
    resize: none;
    margin-top: 30px;
    width: 370px;
    height: 144px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact_form-msg::-webkit-input-placeholder{
    font-size: 14px;
    line-height: 26px;
}

.contact_form-send{
    margin-top: 30px;
    width: 370px;
    height: 50px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}

.contact_contn-title{
    font-size: 42px;
    line-height: 52px;
}

.contact_contn-text{
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
}

.contact_add-ico{
	background-position: -13px -90px ;
	width: 29px;
	height: 40px;
}

.contact_ph-ico{
	background-position: -98px -83px ;
	width: 29px;
	height: 40px;
}

.contact_mail-ico{
    float: left;
	background-position: -178px -78px ;
	width: 29px;
	height: 45px;
}

.contact_add-text{
    display: inline-block;
}